<p>template-form-with-validation works!</p>
<div class="container">
    <div class="row">
        <h2>Student Resistration Form</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <label for="First">First</label>
            <br>
            <input type="text" placeholder="First">
        </div>
        <div class="col-4">
            <label for="Middle">Middle</label>
            <br>
            <input type="text" placeholder="">
        </div>
        <div class="col-4">
            <label for="Last">Last</label>
            <br>
            <input type="text" placeholder="Last">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <label for="Name"> Full Name</label>
            <br>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="DOB">DOB</label>
            <br>
            <input type="date" >
        </div>
        <div class="col-4">
            <label for="Age">Age</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-4">
            <label for="Liecen No">Liecen No</label>
            <br>
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Education"> Select Education</label>
            <br>
            <select name="Select Education" id="">
                <option value="select">Select Education</option>
                <option value="12th">12th</option>
                <option value="12th">Degree</option>
                <option value="12th">Other</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="education">Enter Highest Education</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-4">
            <label for="passing year">Passing Year</label>
            <br>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="12 th%">12 th%</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-4">
            <label for="passing year">Passing Year</label>
            <br>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="1st year %">1st year %</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-3">
            <label for="2nd year %">2nd year %</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-3">
            <label for="3rd year % th%">3rd year % th%</label>
            <br>
            <input type="text" >
        </div>
        <div class="col-3">
            <label for="passing year">Passing Year</label>
            <br>
            <input type="text" >
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="year">Enter starting year</label>
            <br>
            <input type="date" >
        </div>
        <div class="col-4">
            <label for="passing year">Passing Year</label>
            <br>
            <input type="date" >
        </div>
        <div class="row  pt-3">
            <div class="col-6 text-end">
                <button class="btn btn-sm btn-primary">Reset All</button>
            </div>
            <div class="col-6">
                <button class="btn btn-sm btn-success">Submit Form</button>
            </div>
            
            
        </div>
</div>
